:root {
    --cor-primaria--: #000;
    --cor-secundaria: #fff
    ;
    --cor-destaque: #8f8580;
    --fonte: 'Segoe UI', Arial, sans-serif;
    --raio: 10px;
    --sombra: 0 4px 12px rgba(0, 0, 0, .08);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%; 
}

/* Barra de cima */

.top-header{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    padding: 12px 70px;
}

.top-header a{
    /* color: cor var(--cor-primaria--); */
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-decoration: none;
}
.top-header a::after{
    content: "";
    position: absolute;

    left: 0;
    bottom: -4px;

    width: 0%;
    height: 1px;

    background-color: black;

    transition: width 0.5s ease;
}

.top-header a:hover::after{
    width: 100%;
}

/* barra principal */

.main-header{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 10px;
    padding: 0 70px;
}

.main-header img{
    width: 90px;
    cursor: pointer;
}

nav{
    display: flex;
    gap: 35px;
}

nav a{
    font-family :HelveticaNeue, "HelveticaNeue Fallback: Arial";
    color: inherit;
    font-size: 1.1rem;
    font-weight: 550;
    line-height: 1.5rem;
    text-decoration: none;
}

a{
    position: relative;
    color: black;
}

nav a::after{
    content: "";
    position: absolute;

    left: 0;
    bottom: -4px;

    width: 0%;
    height: 3px;

    background-color: black;

    transition: width 0.5s ease;
}

nav a:hover::after{
    width: 100%;
}


.search-box{
    display: flex;
    align-items: center;
    gap: 10px;

    margin-left:20%;

    border-bottom: 1px solid black;
    padding-bottom: 5px;
}



.search-box input{
    border: none;
    outline: none;

    width: 120px;

    font-size: 1rem;
}

.search-box i{
    font-size: 1rem;
    cursor: pointer;
}

.material-symbols-outlined{
    font-size: 27px !important;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.img-main img{
    height: auto;
    max-width: 100%;
}

.text-h1{
    margin-top: 30px;
    text-align: center;
    
}

h1{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-p{
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 1.1rem;
}

.text-p p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn a{
    background: var(--cor-primaria--);
    color: var(--cor-secundaria);
    text-decoration: none;
    padding: 20px;
    text-align: center;
    width: 200px;
    border-radius: 50px;
    margin-bottom: 30px;
    font-size: 1.1rem;
    font-weight: 560;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
}

.btn a:hover{
    opacity: 0.7;
}

.hero{
    background: rgb(216, 255, 255);
}

.section-a{
    text-align: center;
    margin: 70px 0 60px 0;
}

.section-a a{
    border:  1px solid;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 20px;
    font-size:18px;
    height:55.6px;
    padding: .9375rem 2rem;
    font-weight: 540;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height:24px;
}

.section-a a:hover{
    background: var(--cor-primaria--);
    color: var(--cor-secundaria);
}

.section-img-tenis {
    margin-top: 4%;
    position: relative;
}

.section-img-tenis img{
    width: 100%;
    padding: 15px;
    display: block;
}

.texto-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    z-index: 1;

    color: white;
    text-align: center;
}

.texto-banner h2 {
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.texto-banner span {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
}

.texto-banner p {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.div-a{
    text-align: center;
    margin: 40px 0 60px 0;
}

.div-a a{
    border:  1px solid;
    border-radius: 50px;
    text-decoration: none;
    background: var(--cor-secundaria);
    margin-right: 20px;
    font-size:18px;
    height:55.6px;
    padding: .9375rem 2rem;
    font-weight: 550;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height:24px;
}

.div-a a:hover{
    background: var(--cor-primaria--);
    color: var(--cor-secundaria);
    border: none;
    font-weight: 550;
}